@use "sass:map";

.navigation {
  //height: 152px;
  width: 100%;
  position: relative;
  background-color: $dark-blue;
  color: $light-gray;
  z-index: 9;

  a {
    color: $light-gray;
    //opacity: .8;
  }

  ul {
    list-style-type: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
  }
}

.nav-icon {
  position: relative;
  display: inline-block;
  font-size: 24px;
  padding: 8px;
  text-decoration: none;
  margin: 0 8px;
  z-index: 10;
  color: rgb($light-gray, .8);
  cursor: pointer;
  &:hover {
    color: $light-gray;
  }

  &:last-child {
    margin-right: unset;
  }


}

.nav-link {
  line-height: 1em;
  padding: 16px 20px;
  text-align: center;
}

.top-nav .nav-link__tertiary {
  padding: 8px 0;
  margin: 0 16px;
}


.active-line {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  width: calc(100% - 40px);
}

.active-line:after {
  content: '';
  position: absolute;
  height: 1px;
  background-color: $light-gray;
  top: 8px;
  width: 100%;
  z-index: 10;
}




// Line showing
.show-line-enter-active, .show-line-leave-active {
  transition: all .4s ease-out;
}

.show-line-enter-from, .show-line-leave-to {
  width: 0;
  margin-left: 50%;
}



.menu_wrapper {
  display: block;
  height: auto;
}


@include md {
  .navigation {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateY(0);
    transition: transform .3s ease;
    &.shift {
      transform: translateY(-56px);
    }
  }
  .nav {
    margin: 0;
    padding: 32px 0;
  }
  .nav-link {
    padding: 20px 0px;
    border-bottom: 1px solid $border-light;
    text-align: left;
  }


  li > .nav-link.dropdown:after {
    content: "\e90a";
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 1em;
    position: absolute;
    right: 0;
    //margin-left: 0.4em;
  }
  li.active > .nav-link.dropdown:after {
    content: "\e90b";
    right: 32px;
  }


  li.active > .nav-link {
    transition-property: color;
    background-color: $light-gray;
    font-weight: bold;
    color: $dark-blue;
    margin-left: -32px;
    margin-right: -32px;
    padding-left: 32px !important;
    padding-right: 32px !important;
  }

  li.active > .nav-dropdown-container > .nav-dropdown {
    border-bottom-color: $light-gray;
  }
  .active-line, .active-line:after {
    all: unset;
  }


  .menu_wrapper {
    margin-left: -32px;
    padding: 0 32px 30vh;
    height: 100vh;
    width: calc(100% + 64px);
    overflow-y: scroll;
    transition: .4s;
  }
  .menu_wrapper.hide {
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (min-width: map.get($breakpoints, "md-min")) {
  .mobile-menu {
    display: none !important;
  }
}