$white: #fff;
$dark-blue: #051C2C;
$light-gray: #F1F2F3;
$red: #EB5757;
$gray: #4D4E56;
$border-light: rgb(#fff, .16);
$border-dark: #D7DBDD;
$green: #6FCF97;

$pink: #E5D4D3;

$overlay: rgb(black, 0.4);


.dark-blue {
  color: $dark-blue;
}
.gray {
  color: $gray;
}
