$white: #fff;
$dark-blue: #051C2C;
$light-gray: #F1F2F3;
$red: #EB5757;
$gray: #4D4E56;
$gold: #F6DFA4;
$border-light: rgb(#fff, .16);
$border-dark: #D7DBDD;
$green: #6FCF97;

$pink: #E5D4D3;

$overlay: rgb(black, 0.4);


.dark-blue {
  color: $dark-blue;
}
.gray {
  color: $gray;
}
.white {
  color: $white;
}
.light-gray {
  color: $light-gray;
}
.pink {
  color: $pink;
}





.light {
  color: #F1F2F3;
}
.dark_blue {
  color: #051C2C;
}
.dark_cerulean {
  color: #004876;
}
.glacier {
  color: #7AA5BA;
}
.vanilla_ice {
  color: #E5D4D3;
}
.gold {
  color: #F6DFA4;
}
.gun_powder {
  color: #4D4E56;
}
.empress {
  color: #726869;
}
.regent_grey {
  color: #7B8687;
}
.alto {
  color: #D2C6C3;
}
.sand {
  color: #D0CAC2;
}

.light-blue {
  background-color: #a4c7d9;
}

.light_bg {
  background-color: #F1F2F3;
}
.dark_blue_bg {
  background-color: #051C2C;
}
.dark_cerulean_bg {
  background-color: #004876;
}
.glacier_bg {
  background-color: #7AA5BA;
}
.vanilla_ice_bg {
  background-color: #E5D4D3;
}
.gold_bg {
  background-color: #F6DFA4;
}
.gun_powder_bg {
  background-color: #4D4E56;
}
.empress_bg {
  background-color: #726869;
}
.regent_grey_bg {
  background-color: #7B8687;
}
.alto_bg {
  background-color: #D2C6C3;
}
.sand_bg {
  background-color: #D0CAC2;
}
